@import "../styles/global.scss";

.nav {
  border-bottom: $nav-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: $color-white;

  position: sticky;
  background-color: $color-black;
  top: 0;
  z-index: 3;

  h3 {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.1rem;
  }

  svg {
    font-size: $icon-size;
    cursor: pointer;
  }
}

.commentContent {
  border-top: $nav-border;
  margin-top: 0.3rem;
  color: $color-white;
  min-height: 78%; // may need to change hard coded height
}

.postDetails {
  color: $color-white;
  display: flex;
  padding: 0.2rem 0.6rem;
  position: relative;
  margin: 0.5rem 0;

  & > div:first-child,
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  & > div:first-child {
    padding: 0.5rem;

    img {
      border-radius: 50%;
      width: 1.7rem;
      aspect-ratio: 1;
      object-fit: cover;
      border: $nav-border;
      cursor: pointer;
    }
  }

  & > div:nth-child(2) {
    padding: 0.4rem;
    height: 100%;
    width: 70%;

    p {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 1.2;
      overflow-wrap: break-word;

      strong {
        font-weight: 700;
        cursor: pointer;
      }
    }

    & > p:last-child {
      color: $color-grey;
      margin-top: 0.5rem;
      font-size: 0.8rem;

      span {
        margin-left: 1rem;
        cursor: pointer;
      }
    }
  }

  & > div:nth-child(3) {
    color: $color-grey;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-40%);
  }
}

.navContainer {
  position: sticky;
  bottom: 0;
}

.footerNav {
  border-top: $nav-border;
  background-color: $color-black;
  padding: 0.8rem;

  display: flex;
  align-items: center;

  img {
    aspect-ratio: 1;
    height: 2.5rem;
    margin-right: 0.5rem;
    border: $nav-border;
    border-radius: 50%;
    object-fit: cover;
  }

  input {
    padding: 0.7rem;
    padding-right: 3.5rem;
    width: 100%;
    border-radius: 100vh;
    border: $nav-border;
    background-color: transparent;
    color: $color-white;
    font-size: 0.9rem;
    outline: none;

    &::placeholder {
      font-family: $font-primary;
      font-weight: 400;
      color: $color-grey-dark;
      padding-left: 0.3rem;
    }

    &:focus {
      outline: $color-white;
    }
  }

  button {
    border-color: transparent;
    background-color: transparent;
    color: $color-blue;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
  }

  span{
    color: $color-white;
    position: absolute;
    font-family: $font-primary;
    left: 5rem;
    font-size: .9rem;
  }
}
.replyPanel {
  background-color: rgb(69, 68, 68);
  padding: .8rem;
  display: flex;
  justify-content: space-between;


  p, span{
    color: $color-white;
    font-family: $font-primary;
    font-size: .8rem;
    color: rgb(204, 204, 204) !important;

  }
  

  span {
    margin-right: .5rem;
    color: $color-white !important;
    cursor: pointer;
    font-weight: 700;
  }
}