@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap");

// Global variables

//fonts
$font-primary: "Arimo", sans-serif;

// colors
$color-white: #fff;
$color-black: rgb(0, 0, 0);

//sizes
$icon-size: 1.5rem;

//borders
$nav-border: 1px solid rgba(128, 128, 128, 0.281);
