@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap");

// Global variables

//fonts
$font-primary: "Arimo", sans-serif;

// colors
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-grey: rgb(168, 168, 168);
$color-grey-dark: rgb(100, 100, 100);
$color-btn-outline: rgba(128, 128, 128, 0.479);
$color-blue: rgb(158, 209, 252);
$color-blue-dark: rgb(0, 149, 246);

//sizes
$icon-size: 1.5rem;

//borders
$nav-border: 1px solid rgba(128, 128, 128, 0.281);

// mixins
@mixin nav-styles() {
  // apply to all header navs for consistency
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0.8rem;
  background-color: $color-black;
  z-index: 1;
}

@mixin follower-following() {
  // apply to all cards in followers and following
  & > div:first-child {
    border: "5px solid green";
    display: flex;
    align-items: center;

    img {
      aspect-ratio: 1;
      width: 3rem;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }

    div {
      margin-left: 0.5rem;
      cursor: pointer;

      h3 {
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 40vw;
        font-size: 0.9rem;
      }

      p {
        color: $color-grey;
        font-weight: 400;
        font-size: 0.8rem;
        margin-top: 0.1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40vw;
      }
    }
  }
}
