@import "../styles/global.scss";

.nav {
  border-bottom: $nav-border;
  display: flex;
  align-items: center;

  padding: 1rem;
  color: $color-white;

  position: sticky;
  background-color: $color-black;
  top: 0;
  z-index: 3;

  h3 {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.1rem;
    margin: auto;
  }

  svg {
    font-size: $icon-size;
    cursor: pointer;
  }
}

.likeContent {
  margin-top: 0.3rem;
  color: $color-white;
  min-height: 71%; // may need to change hard coded height
}

.like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0.8rem 0;

  & > div:first-child {
    display: flex;
    align-items: center;

    img {
      aspect-ratio: 1;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
      border: $nav-border;
    }

    div {
      h3,
      p {
        font-family: $font-primary;
        margin-left: 0.5rem;
      }

      h3 {
        font-weight: 600;
        font-size: 0.9rem;
      }

      p {
        color: $color-grey;
        font-weight: 400;
        margin-top: 0.1rem;
        font-size: 0.8rem;
      }
    }
  }

  & > div:nth-child(2) {
    button {
      background-color: $color-blue-dark;
      color: $color-white;
      border-color: transparent;
      border-radius: 3px;
      padding: 0.3rem 1.7rem;
      font-weight: 600;
      font-family: $font-primary;
      cursor: pointer;
    }
  }
}
