@import "../styles/global.scss";

@font-face {
  font-family: "Instagram";
  src: url("../assets/instagram-font.otf") format("woff2");
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0.8rem;
  background-color: $color-black;
  z-index: 1;

  h1 {
    font-family: "Instagram", sans-serif;
    color: $color-white;
    font-size: 2rem;
  }

  ul {
    display: flex;
    margin-right: 1.5rem;

    li {
      color: $color-white;
      font-size: $icon-size;
      margin: 0 0.5rem;
      transform: translateY(2px);
      cursor: pointer;
    }
  }

  .notif {
    position: relative;

    p {
      color: $color-white;
      font-size: .5rem;
      font-family: $font-primary;
      font-weight: 600;
      width: .8rem;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: rgb(255, 74, 74);
      position: absolute;
      bottom: 4px;
      right: 1px;
    }
  }
}

.navIsScrolling {
  border-bottom: $nav-border;
  transition: all 300ms ease;
}
