@import '../styles/global.scss';

.nav {
  color: $color-white;
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: $nav-border;
  background-color: $color-black;
  position: sticky;
  top: 0;

  svg {
    font-size: $icon-size;
    margin-right: 1rem;
    cursor: pointer;
  }

  h3 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.3rem;
  }
}


.container {
  margin-top: 1rem;

  .notification {  
    color: $color-white;
    font-family: $font-primary;
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
  
    p{
      font-weight: 400;
      font-size: .8rem;
      line-height: 1.1;
  
      strong {
        font-weight: 700;
        cursor: pointer;
      }
  
      span {
        color: $color-grey;
        font-size: .75rem;
        margin-right: 1rem;
      }
    }
  
    .userImg {
      aspect-ratio: 1;
      width: 2.5rem;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1rem;
      cursor: pointer;
    }
  
    .postImg { 
      aspect-ratio: 1;
      width: 2.8rem;
      object-fit: cover;
      margin-left: auto;
      padding-left: 1rem;
      cursor: pointer;
    }

    .followingBtn,
    .followBtn {
      color: $color-white;
      font-weight: 700;
      font-size: .8rem;
      padding: .3rem 0;
      width: 6rem;
      margin-left: auto;
      cursor: pointer;
      border-radius: 3px;
    }

    .followingBtn {
      border: 1px solid $color-white;
      background-color: $color-black;
    }

    .followBtn {
      background-color: $color-blue-dark;
      border-color: transparent;
    }
  }
}

